# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
env/.env.dev2
.DS_Store
build
appPackage/build
.deployment
.localConfigs

# dependencies
/node_modules

# testing
/coverage

# Dev tool directories
/devTools/

__azurite_db_table__.json
__azurite_db_queue_extent__.json
__azurite_db_queue__.json
__azurite_db_blob_extent__.json
__azurite_db_blob__.json
__blobstorage__/AzuriteConfig
__blobstorage__/27fde848-db24-47e9-b1b4-5fb7e16e2306

/ACSBackend/.vs/*
/ACSBackend/bin/*
/ACSBackend/obj/*
/ACSBackend/ACSBackend.API/bin/*
/ACSBackend/ACSBackend.API/obj/*
/ACSBackend/ACSBackend.API/appsettings.Development.json
__blobstorage__/76f613bb-30f0-427a-b952-b1ca2b8021bd
